{% extends 'core/base.html' %}

{% block content %}

<style>
    .form-container {
        max-width: 1000px;
        margin:  auto;
        padding: 0px;
        background-color: hsl(0, 0%, 98%);
        border-radius: 10px;
        width: 1500px;
       

    }


    .form-container .btn {
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }

    .form-container .btn:hover {
        background-color: #45a049;
    }
</style>

<div class="form-container">
    
    <form action="{% url 'nuevo_proyecto' %}" method="post">
        {% csrf_token %}
        <h2>Registro de Producción Diaria</h2>
        <div class="mb-3">
            <label for="id_producto" class="form-label">Producto</label>
            <select id="id_producto" name="producto" class="form-select" required>
                <option value="">Seleccione un producto</option>
                {% for producto in form.fields.producto.queryset %}
                    <option value="{{ producto.id }}">{{ producto.nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="id_litros_producidos" class="form-label">Litros producidos</label>
            <input type="number" id="id_litros_producidos" name="litros_producidos" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="id_fecha_produccion" class="form-label">Fecha producción</label>
            <input type="date" id="id_fecha_produccion" name="fecha_produccion" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="id_turno" class="form-label">Turno</label>
            <select id="id_turno" name="turno" class="form-select" required>
                <option value="">Seleccione un turno</option>
                <option value="AM">Mañana</option>
                <option value="PM">Tarde</option>
                <option value="MM">Noche</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="id_operador" class="form-label">Operador</label>
            <input type="text" id="id_operador" name="operador" class="form-control" value="{{ user.get_username }}" readonly>
        </div>
        
        <button class="btn btn-primary" type="submit">Registrar</button>
    </form>
</div>

{% endblock %}

